{% extends "base.html" %}
{% block body %}

    <h1>Admin Panel</h1>

    {% if error %}
        <p class="warning">{{ error }}</p>
    {% endif %}

    <h2>All your users</h2>

    <div class="table">
        <div class="tr">
            <span class="th">ID</span>
            <span class="th">Name</span>
            <span class="th">Password</span>
            <span class="th">Password Status</span>
            <span class="th">Is Admin?</span>
            <span class="th">Admin's ID</span>
            <span class="th">Action</span>
        </div>
        {% set admin_id = [] %}
        {% for username in users %}
            <form class="tr" action="" method="post">
                <span class="td">
                    <input type="hidden" name="form_id" value="delete_user">
                    <input type="hidden" name="username" value="{{
                        users[username]["username"] }}">
                    {{ users[username]["username"] }}
                </span>
                <span class="td">{{ users[username]["first_name"] }}</span>
                <span class="td">*****</span>
                <span class="td">{{ users[username]["password_status"] }}</span>
                <span class="td">{{ users[username]["admin"] }}</span>
                <span class="td">{{ users[username]["admin_id"] }}
                    {% if admin_id.append(users[username]["admin_id"]) %}
                    {% endif %}
                </span>
                <span class="td">
                    <input type="submit" class="button" value="Delete">
                </span>
            </form>
        {% endfor %}
        <form id="new_user" action="" method="post" class="tr">
            <span class="td">
                <input type="hidden" name="form_id" value="new_user">
                <input type="text" name="username">
            </span>
            <span class="td"><input type="text" name="first_name"></span>
            <span class="td"><input type="password" name="password"></span>
            <span class="td"><input type="hidden" name="password_status" value="new">new</span>
            <span class="td"><input type="checkbox" name="admin"></span>
            <span class="td"><input type="text" name="admin_id" value="{{ admin_id[0] }}"></span>
            <span class="td"><input type="submit" class="button"></span>
        </form>
    </div>

    <h2>All their files</h2>

    <form id="admin_form" action="" method="post">
        <input type="hidden" name="form_id" value="admin_form">
    <p>
        Change selected to:
        <input type="submit" name="change_status" value="requested" class="button">
        <input type="submit" name="change_status" value="printed" class="button">
        <input type="submit" name="change_status" value="ignored" class="button">
    </p>
    <table>
        <tr>
            <th>Module Code</th>
            <th>Title</th>
            <th>File</th>
            <th>Action</th>
            <th>
                New
                <br />
                <button type="button" class="check_all category" value="new">toggle</button>
            </th>
            <th>
                Requested
                <br />
                <button type="button" class="check_all category" value="requested">toggle</button>
            </th>
            <th>
                Printed
                <br />
                <button type="button" class="check_all category" value="printed">toggle</button>
            </th>
            <th>
                Ignored
                <br />
                <button type="button" class="check_all category" value="ignored">toggle</button>
            </th>
            <th>Timestamp</th>
        </tr>
        {% for f in files %}
            <tr>
                <td>
                    {{ f.module_code }}
                </td>
                <td>
                    {{ f.module_title }}
                </td>
                <td>{{ f.filename }}</td>
                <td>
                <a href="{{ url_for("download", filename=f.filename) }}"
                    class="button file_button target_lightbox" data-filename="{{
                    f.filename
                    }}">View</a>
                <a href="{{ url_for("download", filename=f.filename) }}"
                    class="button file_button" download>Download</a></td>
                </td>
                <td>
                    <button type="button" class="counter">
                        {{ f.statuses["new"]|length }}
                    </button>
                    {% for userid in f.statuses["new"] %}
                        <label class="new username">
                            <input type="checkbox" name="selected_docs"
                            value='{"user_id": "{{ userid }}",
                            "filename": "{{ f.filename }}"}'>
                            {{ users[userid]["first_name"] }}
                        </label>
                    {% endfor %}
                </td>
                <td>
                    <button type="button" class="counter">
                        {{ f.statuses["requested"]|length }}
                    </button>
                    {% for userid in f.statuses["requested"] %}
                        <label class="requested username">
                            <input type="checkbox" name="selected_docs"
                            value='{"user_id": "{{ userid }}",
                            "filename": "{{ f.filename }}"}'>
                            {{ users[userid]["first_name"] }}
                        </label>
                    {% endfor %}
                </td>
                <td>
                    <button type="button" class="counter">
                        {{ f.statuses["printed"]|length }}
                    </button>
                    {% for userid in f.statuses["printed"] %}
                        <label class="printed username">
                            <input type="checkbox" name="selected_docs"
                            value='{"user_id": "{{ userid }}",
                            "filename": "{{ f.filename }}"}'>
                            {{ users[userid]["first_name"] }}
                        </label>
                    {% endfor %}
                </td>
                <td>
                    <button type="button" class="counter">
                        {{ f.statuses["ignored"]|length }}
                    </button>
                    {% for userid in f.statuses["ignored"] %}
                        <label class="ignored username">
                            <input type="checkbox" name="selected_docs"
                            value='{"user_id": "{{ userid }}",
                            "filename": "{{ f.filename }}"}'>
                            {{ users[userid]["first_name"] }}
                        </label>
                    {% endfor %}
                </td>
                <td>
                    {{ f.timestamp }}
                </td>
            </tr>
        {% endfor %}
    </table>
    </form>

    <script type="text/javascript">
    Array.prototype.forEach.call(
        document.getElementsByClassName("check_all category"),
        function(el) {
            el.addEventListener("click", function(evt) {
                var any_unchecked = false;
                Array.prototype.forEach.call(
                    document.getElementsByClassName(evt.target.value),
                    function(el) {
                        if (!el.children[0].checked) {
                            el.click();
                        } else {
                            any_unchecked = true;
                        }
                    });
                if (any_unchecked) {
                    Array.prototype.forEach.call(
                        document.getElementsByClassName(evt.target.value),
                        function(el) {
                            el.click();
                        });
                };
            });
        });
    Array.prototype.forEach.call(
        document.getElementsByClassName("counter"),
        function(el) {
            el.addEventListener("click", function(evt) {
                evt.preventDefault();
                var any_unchecked = false;
                Array.prototype.forEach.call(
                    this.parentElement.getElementsByClassName("username"),
                    function(el) {
                    if (!el.children[0].checked) {
                            el.click();
                        } else {
                            any_unchecked = true;
                        }
                    });
                if (any_unchecked) {
                    Array.prototype.forEach.call(
                        this.parentElement.getElementsByClassName("username"),
                        function(el){
                            el.click();
                        });
                };
                });
        });
    document.getElementById("admin_form").addEventListener("change", function(evt) {
        evt.srcElement.parentNode.classList.toggle("highlighted");
        });
    document.getElementById("admin_form").addEventListener("submit", function(evt) {
        evt.preventDefault();
        if (confirm("Are you sure?")) this.submit();
    });
    </script>

{% endblock %}
