{% extends "base.html" %}
{% block body %}
<h1>Welcome, {{ user["first_name"] }}!</h1>
<h2>Your administrator</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>{{ user["admin_id"] }}</td>
        <td>{{ admin_name }}</td>
    </tr>
</table>
{% if user["files"]|length > 0 %}
<h2>Your files</h2>
<p><a class="button" href="{{ url_for("home") }}">Refresh page</a></p>
{% if user["password_status"] == "bad" %}
    <p class="warning">Couldn't fetch your data recently! Your password is bad :(</p>
{% endif %}
<table>
    <tr>
        <th>Module Code</th>
        <th>Title</th>
        <th>File</th>
        <th>Actions</th>
        <th>Printing Status</th>
        <th>Time Fetched</th>
    </tr>
    {% for f in files %}
        <tr>
            <td>{{ f["code"] }}</td>
            <td>{{ f["title"] }}</td>
            <td>{{ f["filename"] }}</td>
            <td>
                <a href="{{ url_for("download", filename=f.filename) }}"
                    class="button file_button target_lightbox" data-filename="{{
                    f["filename"]
                    }}">View</a>
                <a href="{{ url_for("download", filename=f.filename) }}"
                    class="button file_button" download>Download</a></td>
            </td>
            <td>
                {{ f["status"] }}
                {% if f["status"] == "ignored" %}
                    <form action="" method="POST">
                        <input type="hidden" name="filename" value="{{ f["filename"] }}">
                        <input type="submit" value="Request" class="resubmit button">
                    </form>
                {% endif %}
            </td>
            <td>{{ f["timestamp_local"] }}</td>
        </tr>
    {% endfor %}
</table>
<script type="text/javascript">
    (function() {
        Array.prototype.forEach.call(
            document.getElementsByClassName("resubmit"),
            function(el) {
                el.addEventListener("click", function(evt) {
                    evt.preventDefault();
                    if (confirm("Wait! Are you sure you want to have this printed? No turning back!")) {
                        this.parentElement.submit();
                        };
                    });
            });
     })();
</script>
{% else %}
<p>Looks like you don't have any files yet!</p>
{% endif %}
{% endblock %}
